{% load static %}
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
    background-color: #00C853;
    border-radius: 50%;
    color: white;
    padding: 13px 12px 10px 12px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: fit-content;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 12px -3px #000;
    }
    .open-button:hover{
        {#background-color: white;#}
        {#color: #00C853;#}
        opacity: 1;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
    }

    /* Add styles to the form container */
    .chat-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 12px -3px #000;
    background-color: white;
    }

    .mgs_body {
    {#min-height: 250px;#}
    height: 250px;
    width: 270px;
    {#max-width: 270px;#}
    background-color:#f1f1f1;
    padding: 5px 12px 5px 12px;
    }


    /* Add a red background color to the cancel button */
    .form-container .cancel {
    background-color: red;
    }
    .chat_message {
	position: relative;
	font-size: 15px;
	padding: 5px;
	border-radius: 10px;
	width: fit-content;
	background-color: #ffffff;
	margin-bottom: 15px;
    }

    .chat_reciever{
     position: relative;
     font-size: 15px;
     padding: 5px;
     border-radius: 10px;
     margin-left: auto;
     width: fit-content;
     background-color: #dcf8c6;
     margin-bottom: 15px;
     text-align: right;
    }
    .message_name {
	position: relative;
	margin-bottom: 0px;
	font-weight: 800;
	font-size: xx-small;
    }
    .recieve_name {
	position: relative;
	margin-bottom: 0px;
    margin-left: auto;
    width: fit-content;
    {#margin-left: -15px;#}
	font-weight: 800;
	font-size: xx-small;
    }
    /* Add some hover effects to buttons */
    {#.form-container .btn:hover, .open-button:hover {#}
    {#opacity: 1;#}
    {#}#}
</style>

<button class="open-button" onclick="openForm()"><i class="fab fa-3x fa-facebook-messenger"></i></button>

<div class="chat-popup" id="myForm">
    <div class="chat-container">
        <div class="row">
            <div class="col-10">
                <h4 class="text-center pl-4">Help Desk</h4>
            </div>
            <div class="col-2">
                <button type="button" class="close" onclick="closeForm()">×</button>
            </div>
        </div>


        <div class="mgs_body overflow-auto mb-4" id="msgs">

        </div>

        <div id="sec_2" class="input-group mb-3" style="">
          <input type="hidden" id="user" value="{{ request.user.first_name }} {{ request.user.last_name }}">
          <input type="text" class="form-control" id="mgs" placeholder="Type message..." style="border-radius: 20px">
          <div class="input-group-append">
              <button class="btn btn-primary ml-2" id="send" type="submit" style="border-radius: 10px"><i class="fa fa-paper-plane"></i></button>
          </div>
        </div>

        <div id="sec_1" class="text-center" style="">
            <button id="start" class="btn btn-warning btn-block">Stat chat</button>
        </div>

    </div>
</div>

<script>
    function openForm() {
    document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
    document.getElementById("myForm").style.display = "none";
    }
</script>

<script src="https://www.gstatic.com/firebasejs/8.3.3/firebase.js"></script>
<script src="{% static 'js/chat.js' %}"></script>