{% extends 'users/main_2.html' %}

{% block content %}
{#    <h3 style="margin: -85px 5px 50px 70px;">hello</h3>#}
    {% if messages %}
        <div id="mgs_div" style="margin: -85px 70px 43px 70px;">
            {% for message in messages %}
                <p id="messages" class="m-0 py-2 alert alert-success alert-dismissible text-center font-weight-bold">
                    {{message}}
                    <button class="close pt-2" data-dismiss="alert"> ×</button>
                </p>
            {% endfor %}
        </div>
    {% endif %}
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.media }}#}
{#        {{ form.as_p }}#}
{##}
{#        <input type="submit" name="Submit">#}
{#    </form>#}
    <div class="card">
        <div class="card-header">
            <h5 class="text-center">Job Create</h5>
        </div>
        <div id="form-wrapper" class="card-body">
            <form id="form" action="" method="post">
                {% csrf_token %}
                {{ form.media }}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label for="title">Job Title:</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                          <label for="title">Company Name:</label>
                            {{ form.company_name }}
                        </div>
                        <div class="form-group">
                          <label for="title">Company Logo:</label>
                            {{ form.company_logo }}
                        </div>
                        <div class="form-group">
                          <label for="title">Deadline:</label>
                            {{ form.deadline }}
                        </div>
                        <div class="form-group">
                          <label for="Region">Region:</label>
                            {{ form.region }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label for="description">Description:</label>
                            {{ form.body }}
                        </div>
                        <div class="btn float-right">
                            <button type="reset" class="btn btn-secondary" value="Reset">Reset</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </div>
             </form>
        </div>
    </div>
    <script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[2].placeholder='Job title';
		form_fields[3].placeholder='Company name';
		form_fields[4].placeholder='Company logo URL';
		form_fields[5].type='date';

		var form_select = document.getElementsByTagName('select')
        form_select[0].className = 'form-control'



		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}

		// suppose the `id` attribute of element is `message_container`.
        var message_ele = document.getElementById("mgs_div");

        setTimeout(function(){
           message_ele.style.display = "none";
        }, 3000);
        // Timeout is 3 sec, you can change it
	</script>
{% endblock %}