<!DOCTYPE html>
<html>
<title>contact</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://pbs.twimg.com/profile_images/1253566709597945856/KFEtDsyR_400x400.jpg" style="width:100%; height: 350px;  alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Prosenjit Chowdhury</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Dhaka, Bangladesh</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>prosenjit.chd@mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+8801789146828</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Frontend (HTML, CSS, bootstrap)</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">90%</div>
          </div>
          <p>Backend (Python-django)</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">
              <div class="w3-center w3-text-white">75%</div>
            </div>
          </div>
          <p>Microsoft office</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Media file management</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Bangla</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>
          <p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:70%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Developer / Daffodil International University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2020 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>In my University, I am completed a real life project which is Probashi Kallyan.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Network Security Assistant  / Daffodil International University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2019 - Dec 2019</h6>
          <p>I have enough knowledge to protect data.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Database Assistant  / Daffodil International University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - Apr 2020</h6>
          <p>I expert in Oracle Database management. I used it in many real life projects. </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Daffodil International University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1 Sep 2018 - 30 Jan 2021</h6>
          <p>BSc in Computing & Information System (CGPA:3.81/4)</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>National Computing Center(NCC), UK </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1 Jul 2016 - 30 Jun 2018</h6>
          <p>Advance Diploma in Computing (72%, Distinction)</p>
          <p>Degree completed through the British Council</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Alamdanga College</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2013 - Aug 2015</h6>
          <p>Higher Secondary Certificate (Science)  (GPA: 4.08/5.00)</p><br>
        </div>
        <div class="w3-container">
            <h5 class="w3-opacity"><b>Alamdanga High School</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2008 - May 2013</h6>
            <p>Secondary School Certificate (Science)  (GPA: 4.94/5.00)</p><br>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-lg-10 text-left">
                    <iframe width="600" height="350" src="https://www.youtube.com/embed/1JpIdUxAg7M">
                    </iframe>
                </div>
                <div class="col-lg-2">
                    <h5 class="card-title text-success">Video Resume</h5>
                </div>
            </div>
        </div>
      </div>


    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.facebook.com/prosenjit.chowdhury.988" target="_blank"><i class="fa fa-2x fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/prosenjit.rsch97/"><i class="fa fa-2x fa-instagram w3-hover-opacity"></i></a>
  <a href="https://twitter.com/rsch97"><i class="fa fa-2x fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/prosenjit-chowdhury-4968b1195/"><i class="fa fa-2x fa-linkedin w3-hover-opacity"></i></a>



  <p>Developed by <a href="https://www.facebook.com/prosenjit.chowdhury.988" target="_blank">Prosenjit Chowdhury. ID: 183-16-346  DIU</a></p>
</footer>

</body>
</html>