{% load static %}

<nav id="sidebar">
    <div class="p-4 pt-4 sticky">
        <a href="#" class="img logo rounded-circle mb-4" style="background-image: url({{ request.user.immigrant.photo.url }});"></a>
{#            <img class="profile-pic" src="{{ request.user.immigrant.photo.url }}">#}
        <ul class="list-unstyled components mb-5">
          <li class="active">
              <a href="{% url 'home' %}"><i class="fas fa-home mr-2"></i> Dashboard</a>
          </li>
          <li class="">
              <a href="{% url 'find-nearby' %}"><i class="fas fa-search-location mr-2"></i> Find Nearby</a>
          </li>
          <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user mr-2"></i> Profile</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li class="ml-3">
                    <a href="{% url 'immigrant-profile' %}">View profile</a>
                </li>
                <li class="ml-3">
                    <a href="{% url 'immigrant-profile-update' %}">Update profile</a>
                </li>
            </ul>
          </li>
          <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-blog mr-2"></i> Blog</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a href="{% url 'blog' %}">All blog</a>
            </li>
            <li>
                <a href="#">New blog</a>
            </li>
            <li>
                <a href="#">My blog</a>
            </li>
          </ul>
          </li>
          <li>
            <a href="{% url 'notice' %}"><i class="fas fa-bell mr-2"></i> Notice</a>
          </li>
          <li>
            <a href="{% url 'meeting' %}"><i class="fas fa-users mr-2"></i> Meeting</a>
          </li>
          <li>
          <a href="#emergencySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-heartbeat mr-2"></i></i> Emergency</a>
          <ul class="collapse list-unstyled" id="emergencySubmenu">
            <li>
                <a href="{% url 'emergency-doctor' %}">Doctor</a>
            </li>
            <li>
                <a href="{% url 'emergency-lawyer' %}">Lawyer</a>
            </li>
          </ul>
          </li>
          <li>
            <a href="{% url 'job' %}"><i class="fas fa-briefcase mr-2"></i> Job</a>
          </li>
{#          <li>#}
{#            <a href="{% url 'flight' %}"><i class="fas fa-plane mr-2"></i> Flight</a>#}
{#          </li>#}
          <li>
            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-2"></i> Logout</a>
          </li>
        </ul>

        <div class="footer">

        </div>

  </div>
</nav>