{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>

     {% for message in messages %}
        <p id="messages" class="m-0 ml-2 py-2 alert alert-success alert-dismissible text-center font-weight-bold">
            {{message}}
            <button class="close pt-2" data-dismiss="alert"> ×</button>
        </p>
     {% endfor %}

    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
            <div class="nav-link">Welcome <strong class="ml-1">{{ request.user.first_name }}</strong></div>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-power-off"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
    // suppose the `id` attribute of element is `message_container`.
    var message_ele = document.getElementById("messages");

    setTimeout(function(){
       message_ele.style.display = "none";
    }, 3000);
    // Timeout is 3 sec, you can change it
</script>